
{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Texto Prueba</h1>
    <p>Este texto es de prueba. Estoy probando express y el framework .hbs</p>
  </div>

  <div class="col-4">
      <img src="assets/img/Caja2.jpg" class="img-thumbnail">
  </div>


</div>

{{> footer }}
